env:
  browser: true
  commonjs: true
  node: true
extends: eslint:recommended
parserOptions:
  ecmaVersion: 9 # TODO - Latest version support by Atom, update when using CI for this
rules:
  indent:
    - error
    - 4
  linebreak-style:
    - error
    - unix
  quotes:
    - error
    - double
  semi:
    - error
    - always
